body{
        background-color: rgb(25, 114, 216);
    }

    /*section{
                background-color: rgb(236, 244, 245);
                text-align: center;
                border-radius: 20%;
                height: 700px;
                width: 680px;
                margin:auto;
            }
    */
fieldset{
        background-color: rgb(236, 244, 245);
        border: 1px black solid;
        height: 510px;
        width: 440px;     
        }

.tecladisplay{       
                width: 90px;
                height: 70px;
                font: normal 35pt italic;
                 background-color: rgb(224, 222, 218);
             }
        
.teclas{
        font: normal 30pt italic;
         width: 80px;
        }

#link1{
        font-size: 50px;
        text-decoration: none;
        color:#000000;     
        }
  
  
footer{
        color: gainsboro;
        text-align: center;
      }


#sect{
        background-color: rgb(236, 244, 245);
     }


@media screen and (min-height: 730px)
{
       
        #main{
                margin-top: 40px;
             }
        
        #logo1{
                width: 200px;
              }
        #logo2{
                width: 200px;
              }
        
}