body{
    background-color: rgb(25, 114, 216);
    }
    header{
    color: ghostwhite;
    text-align: center;
    
    }
    section{
        background-color: rgb(236, 244, 245);
        text-align: center;
        font: normal 15pt italic;
        border-radius: 20%;
        height: 700px;
        width: 650px;
        margin:auto;
    }

    fieldset{
        border: 1px black solid;
        height: 600px;
        width: 350px;
        margin:auto; 
      
    }
    .display{
        
        width: 100px;
        height: 70px;
        font: normal 35pt italic;
        background-color: rgb(224, 222, 218);
    }
    #disp{
        margin-top: 60px;
        display: flex; 
        justify-content: center;
    }
    .tecla{
        margin-top: 40px;
        font: normal 30pt italic;
        width: 80px;
    }

    

    #horario{
        float: right;
    }

    #back{
        float: right;
    }

    .test{
        display: flex; 
        justify-content: space-around;
        background-color: blue;     
    }
  
    footer{
    color: gainsboro;
    text-align: center;
    }