body{
    background-color: rgb(25, 114, 216);
    }
    header{
    color: ghostwhite;
    text-align: center;
    
    }
    #secinic{
        background-color: rgb(236, 244, 245);
        text-align: center;
        font: normal 15pt italic;
        border-radius: 20%;
        height: 700px;
        width: 680px;
        margin:auto;
    }

    fieldset{
        background-color: rgb(236, 244, 245);
        border: 1px black solid;

        height: 530px;
        width: 440px; 
        
         
      
    }
    .display{
        
        width: 90px;
        height: 70px;
        font: normal 35pt italic;
        background-color: rgb(224, 222, 218);
    }
    #disp{
        margin-top: 60px;
        display: flex; 
        justify-content: center;
    }
    .teclasty{
        margin-top: 30px;
        font: normal 30pt italic;
        width: 80px;
    }

    .teclainic{
       
        font: normal 30pt italic;
        width: 80px;
    }

    .test{
        display: flex; 
        justify-content: space-around;    
    }

   #sect{
    background-color: rgb(236, 244, 245);
   }

   #link2{
    display: flex; 
    justify-content: center;
   }

    #link{
    
    text-decoration:none;
    background-color: black;
    color:#000000;
    
    }
    
   .container{
    display: flex; 
    justify-content: center;
   }
    

    #horario{
        float: right;
        padding-right: 30px;
    }

    #back{
        float: right;
        padding-right: 30px;
    }

    #paper{
       float: left;
       padding-left: 30px;
       
    }
  
    footer{
    color: gainsboro;
    text-align: center;
    }