body{
background-color: rgb(25, 114, 216);
}
header{
color: ghostwhite;
text-align: center;

}
section{
    background-color: rgb(236, 244, 245);
    text-align: center;
    font: normal 15pt italic;
    border-radius: 20%;
    height: 450px;
    width: 600px;
    margin:auto;

}

#list{
width: 150px;
}


footer{
color: gainsboro;
text-align: center;
}